<%- include('./partials/header'); -%>
<% var date = new Date()%>
<div class="jumbotron jumbotron-fluid mb-0 bg-info" style="padding:0px;height:100px;">
  <div class="container">
    <h1 class="display-4 text-dark text-center" style="font-size:50px;font-weight:700;"><%= date.toDateString() %></h1>
    <p class="lead text-dark text-center" style="font-weight:700;">NOMAN WHOLESALE</p>
  </div>
</div>
<div class="container mt-4">
		<form action="/search" method="POST">
		  <div class="row">
			<div class="col">
			  <input type="date" class="form-control bg-secondary text-white" placeholder="From" name="search[from]" required>
			</div>
			<div class="col">
			  <input type="date" class="form-control bg-secondary text-white b-0" placeholder="To" name="search[to]" required>
			</div>
			 <div class="col">
			  	<select name="search[type]" placeholder="Account Title" class="form-control input-lg bg-secondary text-white" id="email" required>
				 		<option value="purchase">Purchase</option>
		 				<option value="sale">Sale</option>
				 </select>
			</div>
			  <div class="col">
				  <button type="sumbit" class="form-control btn btn-outline-light" >Report</button>
			</div>
		  </div>
		</form>
</div>
    <div class="py-3">
      <div class="container-fluid">
        <div class="row hidden-md-up">
          <div class="col-md">
			<div class="card text-white bg-dark mb-3">
			  <div class="card-header">COMPANY</div>
			  <div class="card-body">
					<a href="/companies/new" type="button" class="btn btn-info form-control">Add New Company</a>
				    <a href="/companies" type="button" class="btn btn-info form-control mt-3">View All Companies</a>
			  </div>
         </div>
          </div>
          <div class="col-md">
             <div class="card text-white bg-dark mb-3">
			    <div class="card-header">SHOP</div>
			    <div class="card-body">
						<a href="/shops/new" type="button" class="btn btn-info form-control">Add New Shop</a>
				    <a href="/shops" type="button" class="btn btn-info form-control mt-3">View All Shops</a>
			  </div>
         </div>
          </div>
          <div class="col-md">
            <div class="card text-white bg-dark mb-3">
			  <div class="card-header">MORE</div>
			  <div class="card-body">
					<a href="/stock" type="button" class="btn btn-info form-control">View Stock Report</a>
				    <a href="/banks" type="button" class="btn btn-info form-control mt-3">View Banks</a>
			  </div>
         </div>
          </div>
        </div>
      </div>
    </div>
	
<%- include('./partials/footer'); -%>